.globalAction {
  flex: 0 0 auto;
}

:global(html[data-dashboard-search-expanded='true']) .globalAction {
  display: none;
}

.cell {
  height: 100%;
  min-width: 0;
}

.cell > button {
  height: 100%;
}

.detail {
  outline: none;
}

:global([data-centered-layout='true']) .cell > button {
  min-height: 88px;
}
