HASS_PORTING_HA_URL=http://homeassistant.local:8123
HASS_PORTING_HA_USERNAME=
HASS_PORTING_HA_PASSWORD=
HASS_PORTING_DASHBOARD_PATH=/at-a-glance/overview
HASS_PORTING_REACT_URL=http://127.0.0.1:5173